doctype html
html(lang='en')
  head
    title Tic Tac Toe with pure CSS
    link(rel='stylesheet' href='./index.scss')
  body
    .board
      .line.horizontal.id-1
      .line.horizontal.id-2
      .line.vertical.id-1
      .line.vertical.id-2

      - let i = 0;
      while i++ < 3
        - let j = 0;
        while j++ < 3
          input.click(type='checkbox' class=`id-${i}${j}`)

      - let m = 0;
      while m++ < 3
        - let n = 0;
        while n++ < 3
          .show(class=`id-${m}${n}`)
