doctype html
html(lang='en')
  head
    title Tic Tac Toe with pure CSS
    link(rel='stylesheet' href='./index.scss')
  body
    .board
      .line.horizontal.id-1
      .line.horizontal.id-2
      .line.vertical.id-1
      .line.vertical.id-2

      include ../.generated/game.html
