doctype html
html(lang='en')
  head
    title Tic Tac Toe with pure CSS
    link(rel='stylesheet' href='./index.scss')
  body
    .board
      .click.id-11
      .click.id-12
      .click.id-13
      .click.id-21
      .click.id-22
      .click.id-23
      .click.id-31
      .click.id-32
      .click.id-33
      .show.id-11
      .show.id-12
      .show.id-13
      .show.id-21
      .show.id-22
      .show.id-23
      .show.id-31
      .show.id-32
      .show.id-33
