$golden-ratio: 1 / 1.618;

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  width: $golden-ratio * 100 * 1vmin;
  height: $golden-ratio * 100 * 1vmin;
  display: grid;
  grid: repeat(3, 1fr) / repeat(3, 1fr);
  place-items: stretch;
  position: relative;
}

.line {
  position: absolute;
  background-color: black;
  border-radius: 2vmin;
  &.horizontal {
    width: 100%;
    height: 2vmin;
    transform: translateY(-50%);
    &.id-1 {
      top: 33%;
    }
    &.id-2 {
      top: 66%;
    }
  }
  &.vertical {
    width: 2vmin;
    height: 100%;
    transform: translateX(-50%);
    &.id-1 {
      left: 33%;
    }
    &.id-2 {
      left: 66%;
    }
  }
}

.click {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.show {
  display: none;
  position: relative;
  z-index: 1;

  &:after {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: $golden-ratio * 30 * 1vmin;
    text-align: center;
  }
}

@mixin plays($player) {
  display: block;
  &:after {
    display: block;
    content: $player;
  }
}

@for $i from 1 through 3 {
  @for $j from 1 through 3 {
    .click.id-#{$i}#{$j}, .show.id-#{$i}#{$j} {
      grid-area: #{$i} / #{$j} / #{$i + 1} / #{$j + 1};
      position: relative;
    }

    .click.id-#{$i}#{$j}:checked ~ .show.id-#{$i}#{$j} {
      @include plays('X');
    }
  }
}

// First move.
.click.id- {
  &11:checked + &12:not(checked) + &13:not(checked) +
  &21:not(checked) + &22:not(checked) + &23:not(checked) +
  &31:not(checked) + &32:not(checked) + &33:not(checked),
  
  &11:not(checked) + &12:checked + &13:not(checked) +
  &21:not(checked) + &22:not(checked) + &23:not(checked) +
  &31:not(checked) + &32:not(checked) + &33:not(checked),
  
  &11:not(checked) + &12:not(checked) + &13:checked +
  &21:not(checked) + &22:not(checked) + &23:not(checked) +
  &31:not(checked) + &32:not(checked) + &33:not(checked),
  
  &11:not(checked) + &12:not(checked) + &13:not(checked) +
  &21:checked + &22:not(checked) + &23:not(checked) +
  &31:not(checked) + &32:not(checked) + &33:not(checked),
  
  &11:not(checked) + &12:not(checked) + &13:not(checked) +
  &21:not(checked) + &22:not(checked) + &23:checked +
  &31:not(checked) + &32:not(checked) + &33:not(checked),
  
  &11:not(checked) + &12:not(checked) + &13:not(checked) +
  &21:not(checked) + &22:not(checked) + &23:not(checked) +
  &31:checked + &32:not(checked) + &33:not(checked),
  
  &11:not(checked) + &12:not(checked) + &13:not(checked) +
  &21:not(checked) + &22:not(checked) + &23:not(checked) +
  &31:not(checked) + &32:checked + &33:not(checked),
  
  &11:not(checked) + &12:not(checked) + &13:not(checked) +
  &21:not(checked) + &22:not(checked) + &23:not(checked) +
  &31:not(checked) + &32:not(checked) + &33:checked {
    & ~ .show.id-22 {
      @include plays('O');
    }
  }

  &11:not(checked) + &12:not(checked) + &13:not(checked) +
  &21:not(checked) + &22:checked + &23:not(checked) +
  &31:not(checked) + &32:not(checked) + &33:not(checked) {
    & ~ .show.id-11 {
      @include plays('O');
    }
  }
}

